body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    flex-direction: column;
}

.form-login {
    margin-bottom: 20px;
    width: 400px;
}

.login-card .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.login-card .card-footer {
    display: flex;
    flex-direction: column;
}

footer.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.link-flag-icon {
    width: 2rem;
}
